body {
	overflow-x: hidden;
}

.about-container {
	position: relative;
	width: 100%;
	height: 100vh;
	background: #444;
	overflow: hidden;


	display: flex;
	align-items: center;
	justify-content: center;
}

.layer
{
	position: absolute;
	/* top: 0; */ /* apenas para quando o conteúdo está no topo*/
	/* left: -50%; */
	/* left: 50%; */
	height: 100vh; /* precisa ter para position absolute*/
	width: 100%; /* precisa ter para position absolute*/
	/* box-shadow: 10px 0 10px rgba(0,0,0,0.25); */
	box-shadow: 10px 0 10px rgba(0,0,0,0.50);
	z-index: 0;
}

.layer1
{
	/* top: 1400px; */
	/* width: 80px; */
	/* height: 280px; */
	height: 10%;
	right: 50%;
	background: rgb(207, 81, 81);
	/* left: 50%; */
	z-index: 1;
	/* box-shadow: 10px 0 10px rgba(0,0,0,0.75); */
}

.layer2
{
	height: 2%;
	left: 80%;
	top: 60px;
	background: rgb(199, 190, 27);
	z-index: 9;
}

.layer3
{
	height: 2%;
	left: 70%;
	top: 90px;
	background: rgb(27, 176, 199);
	z-index: 7;
}
.layer4
{
	height: 12%;
	left: 70%;
	bottom: 0px;
	background: #222;
	background: #333;
	z-index: 7;
	transform: skewX(25deg); 
	/* box-shadow: 10px 0 10px rgba(0,0,0,0.25); */
}
.layer5
{
	height: 14%;
	left: 67%;
	bottom: 0px;
	background: #333;
	background: #222;
	z-index: 6;
	transform: skewX(25deg); 
}

.layer6
{
	height: 4%;
	/* left: 67%; */
	bottom: 0px;
	background: blueviolet;
	/* background: rgb(0, 208, 255); */
	/* background: #333; */
	/* background: #222; */
	z-index: 4;
	/* transform: skewX(25deg);  */
}


.layer8 
{
	left: 50%;
	background: rgb(40, 198, 12);
	width: 20000px;
	/* transform: skewX(75deg) translateX(0px);  */
	/* transform: skewY(75deg) translateY(600px);  */
	/* transform: skewX(75deg) translateX(1000px);  */
	
	/* transform: skewX(75deg) ; */
	
	box-shadow: 10px 0 10px rgba(0,0,0,0.25);
	z-index: 8;
	/* animation: rotation-1 3s ease-in-out infinite; */
}

.layer9 
{
	background: rgb(51, 146, 229);
	box-shadow: 10px 0 10px rgba(0,0,0,0.25);
	/* background: transparent; */
	/* transform: skewX(-45deg) translateX(-100px); */
	/* transform: skewX(-45deg) ; */
	transform: skewX(-35deg) translateX(00px) ;
	/* transform: skewX(-75deg) ; */
	z-index: 10;
}

@keyframes rotation-1 {
	0% {
		transform: rotate(75deg) ;
	}
	100% {
		transform: rotate(435deg) ;
	}
}