body {
	overflow-x: hidden;
}

.background-container {
    position: relative;
    width: 100%;
    height: 100vh;
    /* background: #222; */
    /* overflow: hidden; */
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

.layer
{
	position: absolute;
	/* top: 0px; */
	/* margin-top: 50px; */
	background: #333;
	/* left: -50%; */
	/* left: -70%; */
	width: 100%;
	height: 100vh;
}

.layer8 
{
	background: rgb(40, 198, 12);
	/* transform: skewX(45deg) translateX(100px);  */
	transform: skewX(75deg) translateX(1000px); 
	/* transform: skewX(75deg) translateX(1000px);  */
	
	/* transform: skewX(75deg) ; */
	
	box-shadow: 10px 0 10px rgba(0,0,0,0.25);
	z-index: 19;
	/* animation: rotation-1 3s ease-in-out infinite; */
}

.layer9 
{
	background: rgb(51, 146, 229);
	box-shadow: 10px 0 10px rgba(0,0,0,0.25);
	/* background: transparent; */
	/* transform: skewX(-45deg) translateX(-100px); */
	/* transform: skewX(-45deg) ; */
	transform: skewX(-75deg) translateX(1000px) ;
	/* transform: skewX(-75deg) ; */
	z-index: 10;
}

@keyframes rotation-1 {
	0% {
		transform: rotate(75deg) ;
	}
	100% {
		transform: rotate(435deg) ;
	}
}