@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,400;1,600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Andada Pro", serif;
  font-family: "Poppins", sans-serif;
  word-spacing: 5px;
}

html {
  scroll-behavior: smooth;
}

header {
  /* background-color: #343238; */
  /* background-color: rgba(52, 50, 56, 0.75); */
  background-color: rgba(52, 50, 56);
  border-bottom: #4978ff;
  border-bottom-style: solid;
  border-bottom-width: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.6s;
  padding: 10px 100px;
  z-index: 100000;
}

header .logo {
  position: relative;

  font-weight: 500;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li {
  position: relative;
  list-style: none;
}

header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
  transition: 0.6s;
  /* color: #343238; */
  /* background: #fff; */
}

header.sticky {
  /* border-bottom: #4978ff;
  border-bottom-style: solid;
  border-bottom-width: 8px; */
  border-bottom: none;
  padding: 5px 100px;
  background: #fff;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  /* background-color: #4978ff; */
  color: #343238;
}

header.sticky .logo,
header.sticky ul li a {
  color: #343238;
}

header.sticky p em {
  color: #4978ff;
}

/* 
ul.sticky li.sticky a.sticky {
} */

header p {
  color: #fff;
}

.about {
  /* position: relative; */
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-color: #000;
  /* background-image: url(./img/fundo_work_6-1200.png); */
  /* background-image: url(./img/background-1.png); */
  display: flex;
  color: #343238;
  justify-content: center;
  align-items: center;
}

.about-main {
  background-color: rgba(52, 50, 56, 0.85);
  width: 100%;
  /* a posição absolute permite deixar os filhos limitados ao tamanho do pai */
  /* position: absolute;  */
  /* margin: 100px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border-radius: 10px; */
}

.about-main-in {
  background-color: rgb(123, 123, 178);
  width: 1200px;
  display: flex;
  align-items: center;
}

.about-top {
  position: absolute;
  /* background-color: #61579D; */
  background-color: rgba(97, 87, 157, 0.55);
  border-radius: 10px 10px 0 0;
  width: 100%;
  /* width: 800px; */
  height: 38%;
  z-index: 1;
  /* top: 70px; */
  top: 0px;
  left: 0;
}

.about-bottom {
  position: absolute;
  /* background-color: #87D2F2; */
  background-color: rgba(135, 210, 242, 0.55);
  border-radius: 0 0 10px 10px;
  width: 100%;
  /* width: 800px; */
  height: 60%;
  z-index: 1;
  /* top: 70px; */
  bottom: 0px;
  left: 0;
}

.about-me-card-text-container {
  /* position: absolute; */
  /* background-color: #fff; */
  min-width: 500px;
  background-color: rgba(254, 254, 254, 0.95);
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.37);
  border-radius: 10px;
  z-index: 10;
}

.about-me-card-text-container .text-container{
  padding: 30px;
  
}

.about-left {
  /* background-color: #343238; */
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  width: 450px;
  height: 500px;
  /* padding: 100px; */
  /* padding-left: 200px; */
  z-index: 2;
}


.about-personal-img{
  background-color: #fff;
  /* box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.17); */
  border-radius: 50%;
  width: 250px;
  height: 250px;
  top: 20px;
}

.about-personal-subtitle{
  margin-top: 50px;
  /* background-color: #fff; */
  width: 200px;
  height: 150px;
}

.about-personal-subtitle p{
  color: #2a334d;
  /* font-size: larger; */
  /* text-shadow: 1px 1px #fff; */
  /* font-style: inherit; */
  line-height: 1.2em;
  font-size: 30px;
  text-shadow: 3px 2px 1px rgba(50, 50, 50, 0.37);
  /* font-weight: 400; */
  /* font-weight: 400; */
  font-family: 'Finlandica', sans-serif;
}

.about-me-card-text-container h3{
  color: #4978ff;
}

.about-me-card-text-container h3{
  padding-bottom: 20px;
  /* color: #4978ff; */
  color: #2a334d;
  text-align: center;
}

.about-me-card-text-container p{
  /* color: #4978ff; */
  font-size: 18px;
  text-indent: 45px;
  padding-bottom: 15px;
}


.about h2 {
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}
.about h2 span {
  color: #4978ff;
}

.img-main {
  width: 450px;
  border-style: solid;
  box-shadow: rgba(255, 255, 255, 0.75) 0px 3px 3px, rgba(255, 255, 255, 0.50) 0px 0px 3px 3px;
  border-width: 2px;
  border-radius: 10px;
  border-color: #fff;
}

.about-right {
  /* background: chartreuse; */
  /* text-align: center; */
  margin-right: 25px;
  max-width: 750px;
  text-align: justify;
  /* float: left; */
  padding: 100px;
  /* margin: 20px; */

  /* para o position relative funciona */
  /* position: relative; */
  left: 50px;
  z-index: 2;
}

.formation-main {
  background-color: #fff;
  display: flex;
  /* width: 100%; */
  /* min-height: 100vh; */
  border-radius: 10px;
  margin: 50px;
}

.formation-left,
.formation-center,
.formation-right {
  /* border-right: #4978ff 2px; */
  /* padding: 50px; */
  margin: 50px;
  width: 33%;
  border-right: #4978ff;
  border-right-style: solid;
  border-right-width: 8px;
}

.formation-left {
  align-items: center;
  background-color: aliceblue;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formation h3 {
  color: #4978ff;
  padding: 20px;
  align-self: flex-start;
  text-shadow: 2px 2px #ccc;
}

.box-inst {
  display: flex;
  /* margin-top: 20px; */
  margin: 20px;
  /* padding-left: 20px; */
  /* background-color: #9ccefc; */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.37);
  /* width: 350px; */
  max-width: 350px;
  min-width: 350px;
}

.box-inst h3 {
  padding-top: 10px;
  font-size: 14px;
}

.box-inst p {
  font-size: 12px;
}

.box-inst img {
  padding: 10px;
  border-radius: 15px;
  width: 120px;
}

.box-inst-left {
  display: flex;
  align-items: center;
}

.box-inst-right {
  display: flex;
  flex-direction: column;
}

.box-inst-right h4 {
  font-size: 14px;
  color: #4978ff;
  padding-top: 10px;
  padding-left: 10px;
}
.box-inst-right p {
  padding-left: 10px;
}

.formation ul li {
  padding-bottom: 10px;
}
.formation p {
  padding-bottom: 10px;
}

.sec {
  background-color: #343238;
  /* background: #fff; */
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec .content {
  position: relative;
  text-align: center;
  width: 100%;
}
.mxw800p {
  max-width: 800px;
  margin: 0 auto;
}

.contact {
  background: #000;
}
.contact h3,
.contact p {
  color: #fff;
}
.conactForm {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}
.conactForm form {
  width: 100%;
}
.conactForm .row100 {
  display: flex;
  width: 100%;
}
.conactForm .row100 .inputBx50 {
  width: 50%;
  margin: 0 20px;
}
.conactForm .row100 .inputBx100 {
  width: 100%;
  margin: 0 20px;
}
.conactForm .row100 input,
.conactForm .row100 textarea {
  position: relative;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background: transparent;
  width: 100%;
  padding: 10px 0;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  margin: 20px 0;
  resize: none;
}
.conactForm .row100 textarea {
  height: 100px;
}
.conactForm .row100 input::placeholder,
.conactForm .row100 textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.conactForm .row100 input[type="submit"] {
  background: #fff;
  color: #000;
  max-width: 100px;
  margin: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 500;
}

.sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.sci ul {
  display: flex;
}
.sci ul li {
  list-style: none;
}
.sci ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 30px;
}
.sci ul li a img {
  filter: invert(1);
  max-width: 40px;
}
.sci ul li a:hover img {
  opacity: 0.5;
}


.navbar {
  z-index: 10000000;
}


.card-about-bottom {
  /* background-color: red; */
  /* margin-top: 10px; */
  padding: 10px;
}

.card-about-bottom-letf {
  background-color: #E2E8EB;
  min-width: 300px;
  max-width: 400px;
  min-height: 300px;
  
}

.card-about-bottom-right {
  background-color: white;
  border: 15px solid #E2E8EB;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.img-3x4 {
  display: flex;
}


.img-3x4 img{
  /* height: 100%; */
  height: 250px;
  min-height: 250px;
  max-width: 250px;
  width: 250px;
  min-width: 250px;
  max-width: 250px;
  width: 100%;
  border: 8px solid white;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.subtitle {

}