@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@1,400;1,600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Andada Pro", serif;
  font-family: "Poppins", sans-serif;
  word-spacing: 5px;
}

html {
  scroll-behavior: smooth;
}

.formation-main {
  background-color: #fff;
  display: flex;
  /* width: 100%; */
  /* min-height: 100vh; */
  border-radius: 10px;
  margin: 50px;
}

.formation-left,
.formation-center,
.formation-right {
  /* border-right: #4978ff 2px; */
  /* padding: 50px; */
  margin: 50px;
  width: 33%;
  border-right: #4978ff;
  border-right-style: solid;
  border-right-width: 8px;
}

.formation-left {
  align-items: center;
  background-color: aliceblue;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formation h3 {
  color: #4978ff;
  padding: 20px;
  align-self: flex-start;
  text-shadow: 2px 2px #ccc;
}

.box-inst {
  display: flex;
  /* margin-top: 20px; */
  margin: 20px;
  /* padding-left: 20px; */
  /* background-color: #9ccefc; */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.37);
  /* width: 350px; */
  max-width: 350px;
  min-width: 350px;
}

.box-inst h3 {
  padding-top: 10px;
  font-size: 14px;
}

.box-inst p {
  font-size: 12px;
}

.box-inst img {
  padding: 10px;
  border-radius: 15px;
  width: 120px;
}

.box-inst-left {
  display: flex;
  align-items: center;
}

.box-inst-right {
  display: flex;
  flex-direction: column;
}

.box-inst-right h4 {
  font-size: 14px;
  color: #4978ff;
  padding-top: 10px;
  padding-left: 10px;
}
.box-inst-right p {
  padding-left: 10px;
}

.formation ul li {
  padding-bottom: 10px;
}
.formation p {
  padding-bottom: 10px;
}

.sec {
  background-color: #343238;
  /* background: #fff; */
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec .content {
  position: relative;
  text-align: center;
  width: 100%;
}
.mxw800p {
  max-width: 800px;
  margin: 0 auto;
}

.contact {
  background: #000;
}
.contact h3,
.contact p {
  color: #fff;
}
.conactForm {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}
.conactForm form {
  width: 100%;
}
.conactForm .row100 {
  display: flex;
  width: 100%;
}
.conactForm .row100 .inputBx50 {
  width: 50%;
  margin: 0 20px;
}
.conactForm .row100 .inputBx100 {
  width: 100%;
  margin: 0 20px;
}
.conactForm .row100 input,
.conactForm .row100 textarea {
  position: relative;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background: transparent;
  width: 100%;
  padding: 10px 0;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  margin: 20px 0;
  resize: none;
}
.conactForm .row100 textarea {
  height: 100px;
}
.conactForm .row100 input::placeholder,
.conactForm .row100 textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.conactForm .row100 input[type="submit"] {
  background: #fff;
  color: #000;
  max-width: 100px;
  margin: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 500;
}

.sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.sci ul {
  display: flex;
}
.sci ul li {
  list-style: none;
}
.sci ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 30px;
}
.sci ul li a img {
  filter: invert(1);
  max-width: 40px;
}
.sci ul li a:hover img {
  opacity: 0.5;
}


.navbar {
  z-index: 10000000;
}


.card-about-bottom {
  /* background-color: red; */
  /* margin-top: 10px; */
  padding: 10px;
}

/* .card-about-bottom-letf {
  background-color: #E2E8EB;
  min-width: 300px;
  max-width: 400px;
  min-height: 300px;
  
} */

.card-about-bottom-right {
  background-color: white;
  border: 15px solid #E2E8EB;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

