@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andada+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Andada Pro", serif;
  font-family: "Poppins", sans-serif;
  word-spacing: 5px;
}
html {
  scroll-behavior: smooth;
}
header {
  background-color: #343238;
  border-bottom: #4978ff;
  border-bottom-style: solid;
  border-bottom-width: 8px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 100000;
}

header .logo {
  position: relative;

  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  transition: 0.6s;
}

header ul {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li {
  position: relative;
  list-style: none;
}
header ul li a {
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
  transition: 0.6s;
  /* color: #343238; */
  /* background: #fff; */
}

header.sticky {
  /* border-bottom: #4978ff;
  border-bottom-style: solid;
  border-bottom-width: 8px; */
  border-bottom: none;
  padding: 5px 100px;
  background: #fff;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
  /* background-color: #4978ff; */
  color: #343238;
}

header.sticky .logo,
header.sticky ul li a {
  color: #343238;
}
header.sticky p em {
  color: #4978ff;
}

/* 
ul.sticky li.sticky a.sticky {
} */

header p {
  color: #fff;
}

.about {
  position: relative;
  width: 100%;
  min-height: 100vh;
  /* background: url(bg.jpg); */
  background-size: cover;
  display: flex;
  color: #343238;
  justify-content: center;
  align-items: center;
}
.about h2 {
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}
.about h2 span {
  color: #4978ff;
}

.about-main {
  /* width: 100%; */
  /* min-height: 100vh; */
  margin: 100px;
  color: #343238;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: #343238;
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.37);
  border-radius: 10px;
}

.about-left {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  width: 450px;
  /* color: red; */
  /* background: red; */
  padding: 100px;
  padding-left: 200px;
  /* padding-right: 200px; */
  /* border-right: #4978ff 2px;
  border-right-style: solid;
  border-right-width: 3px; */
}

.img-main {
  width: 400px;
  border-style: solid;
  border-width: 2px;
  border-radius: 10px;
  border-color: #fff;
}

.about-right {
  /* background: chartreuse; */
  /* text-align: center; */

  text-align: justify;
  /* float: left; */
  padding: 100px;
  /* margin: 20px; */

  /* para o position relative funciona */
  /* position: relative; */
  left: 50px;
}

.about-right p {
  /* padding: 30px; */
  /* margin: 60px; */
  font-size: 18px;
  color: #fff;
  text-indent: 45px;
  padding-bottom: 15px;
}

.about h3 {
  color: #fff;
  padding-bottom: 20px;
  text-align: center;
}

.formation-main {
  background-color: #fff;
  display: flex;
  /* width: 100%; */
  /* min-height: 100vh; */
  border-radius: 10px;
  margin: 50px;
}

.formation-left,
.formation-center,
.formation-right {
  /* border-right: #4978ff 2px; */
  /* padding: 50px; */
  margin: 50px;
  width: 33%;
  border-right: #4978ff;
  border-right-style: solid;
  border-right-width: 8px;
}

.formation-left {
  background-color: aliceblue;
  padding-left: 20px;
}
.formation h3 {
  color: #4978ff;
  padding-bottom: 20px;
}
.box-inst {
  display: flex;
  margin-top: 20px;
  /* padding-left: 20px; */
  /* background-color: #9ccefc; */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 9px 7px 5px rgba(50, 50, 50, 0.37);
  width: 350px;
}

.box-inst h3 {
  padding-top: 10px;
  font-size: 14px;
}

.box-inst p {
  font-size: 12px;
}

.box-inst img {
  padding: 10px;
  border-radius: 15px;
}

.box-inst-left {
  display: flex;
  align-items: center;
}

.box-inst-right {
  display: flex;
  flex-direction: column;
}

.box-inst-right h4 {
  font-size: 14px;
  color: #4978ff;
  padding-top: 10px;
  padding-left: 10px;
}
.box-inst-right p {
  padding-left: 10px;
}

.formation ul li {
  padding-bottom: 10px;
}
.formation p {
  padding-bottom: 10px;
}

.sec {
  background-color: #343238;
  /* background: #fff; */
  padding: 100px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec .content {
  position: relative;
  text-align: center;
  width: 100%;
}
.mxw800p {
  max-width: 800px;
  margin: 0 auto;
}

.contact {
  background: #000;
}
.contact h3,
.contact p {
  color: #fff;
}
.conactForm {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}
.conactForm form {
  width: 100%;
}
.conactForm .row100 {
  display: flex;
  width: 100%;
}
.conactForm .row100 .inputBx50 {
  width: 50%;
  margin: 0 20px;
}
.conactForm .row100 .inputBx100 {
  width: 100%;
  margin: 0 20px;
}
.conactForm .row100 input,
.conactForm .row100 textarea {
  position: relative;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  background: transparent;
  width: 100%;
  padding: 10px 0;
  outline: none;
  font-size: 18px;
  font-weight: 300;
  margin: 20px 0;
  resize: none;
}
.conactForm .row100 textarea {
  height: 100px;
}
.conactForm .row100 input::placeholder,
.conactForm .row100 textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.conactForm .row100 input[type="submit"] {
  background: #fff;
  color: #000;
  max-width: 100px;
  margin: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  font-weight: 500;
}

.sci {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.sci ul {
  display: flex;
}
.sci ul li {
  list-style: none;
}
.sci ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 30px;
}
.sci ul li a img {
  filter: invert(1);
  max-width: 40px;
}
.sci ul li a:hover img {
  opacity: 0.5;
}
